@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.btnshaddow {
  text-shadow: 4px 2px 2px #ffffff;
}
* {
  font-family: 'Noto Serif Georgian', serif;
}

body {
  background-color: #f1f3f6;
}

.blurCs {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.29);

  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

body h1 {
  font-family: 'Patua One', cursive;
}
body p {
  font-family: 'Montserrat Alternates', sans-serif;
}
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.boxShaddow {
  box-shadow: 7px 5px 13px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 13px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 13px -5px rgba(0, 0, 0, 0.75);
}

.sidenavshaddow {
  box-shadow: -2px 4px 11px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 4px 11px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 4px 11px -7px rgba(0, 0, 0, 0.75);
}

.filtershaddow {
  box-shadow: 3px 2px 7px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 2px 7px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 2px 7px -2px rgba(0, 0, 0, 0.5);
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 25rem));
  gap: 35px;
}

.productGridRow {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(19rem, 25rem));
  gap: 20px;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
input[type='checkbox']:hover {
  background-color: #ffdc1475;
}
input[type='checkbox']:checked {
  background-color: #ffdb11;
  border-color: #000000;
}

.labelStyle {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ff6811;
}
